.bak/
bak/
debug/
FileContentIndex/
old/
older_versions/
Schachfe.1*/
tmp/
x64/
.vs/
*.bak
*.bin
*.exe
*.gch
*.hpp
*.lnk
*.o
*.pgn
*.swp
*.tmp
a.out
debug.txt
engine*
files.txt
msbuild
strings.txt
temp*.*
x
y
z
clown_mates.md

