.bak/
bak/
debug/
FileContentIndex/
old/
older_versions/
Schachfe.1*/
test/
tmp/
x64/
.vs/
*.bak
*.bin
*.exe
*.gch
*.hpp
*.o
*.swp
*.tmp
a.out
debug.txt
engine*
files.txt
strings.txt
x
clown_mates.md

